<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Sonny Godwin</title>
    <%= render 'layouts/shim' %>      <!-- shim for IE 9 -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %> 
    
  </head>
  
  <body>
      <%= yield %>      
      <%= render 'layouts/footer' %>       <!-- Show Footer Partial -->
  </body>
</html>
